  <header class="header">
    <nav class="header-nav group">

      <h2 class="header-logo"><a href="#">SleepingBnT</a></h2>
      <ul class="header-navlist">
      <% if (Air.currentUser.isSignedIn()) {%>
        <li><a href="#/users/<%=Air.currentUser.id%>"><%= Air.currentUser.escape("username") %></a></li>

        <li>
          <form>
            <a href="#" id="signout">Sign Out</a>
          </form>
        </li>
        <li> <a class="camp" href="#/locations/new"> Add Your Camp </a> </li>
      <%} else {%>
        <li> <a href="#/session/new">Sign In</a> </li>
        <li> <a href="#/users/new">Sign up</a> </li>
      <% } %>

      </ul>

    </nav>

    <section class="modal">
      <form class="modal-signin">
        <label>
          Username
          <input type="text" name="user[username]">
        </label>

        <br>

        <label>
          Password
          <input type="password" name="user[password]">
        </label>

        <br>

        <button>Sign In</button>
      </form>
    </section>

  </header>
