
<section class="landing">
    <div class="landing-text">
      <h3>TAKE A HIKE</h3>
      <h4>Find new campsites in over 3 states</h4>
    </div>
  <section class="sublanding">



  </section>
</section>

<section class="subsublanding">
  <form>
    <input type="text" class="query" placeholder="Where to? ex. New York, San Francisco">
    <input type="submit" class="submit" name="submit" value="submit">
  </form>
