
<section class="landing">
  <section class="sublanding">



    </section>
  </section>
</section>

<section class="subsublanding">
  <form>
    <input type="text" class="query" placeholder="Where to? ex. New York, San Francisco">
    <input type="submit" class="submit" name="submit" value="submit">
  </form>
