
<section class="landing">
  <section class="sublanding">

    <section class="subsublanding">
      <form>
        <input type="text" class="query" placeholder="Where to?">
        <input type="submit" class="submit" name="submit" value="submit">
      </form>

    </section>
  </section>
</section>
