<section class="modal active">
  <div class="modal-content">
    <span class="closemodal">&times;</span>

    <form class="modal-signin">
      <label>
        Username
        <input type="text" name="user[username]">
      </label>

      <br>

      <label>
        Password
        <input class="password" type="password" name="user[password]">
      </label>

      <br>

      <input type="submit" id="signin" value="submit">
    </form>

    <button class='guest'> Guest Login </button>

  </div>
</section>
