

<section class="index-map"><section>
  <h4> There should be a nice big map here </h4>
<section class="index-listings">
  <main class="index-listing-form">

  </main>
  <main class="index-listing-locations">
    <ul class="locations-list">
    <% locations.each(function (location) { %>
      <li><%= location.name %></li>
    <% }); %>
    </ul>
  </main>
</section>
