
  <section class="index-map">
    <div id='map-one' class='map'> </div>
  </section>

  <section class="index-listings">
    <main class="index-listing-form">
      <!-- <form class="search"> -->
      <form class="search-listings">
        <input type="text" class="query" value="<%= locations._query %>" placeholder="Where will you explore?">
        <input type="submit" class="submit">

      </form>
      <!-- </form> -->

    </main>
    <main class="index-listing-locations">
      <ul id='locations-list'></ul>

    </main>
  </section>
