
<div class="content group">
  <section class="index-map">
    <h2> There should be a nice big map here </h2>
  </section>

  <section class="index-listings">
    <main class="index-listing-form">

    </main>
    <main class="index-listing-locations">
      <h4>Available locations</h4>
      <ul class="locations-list">
      <% locations.each(function (location) { %>
        <li><%= location.escape("name") %></li>
      <% }); %>
      </ul>
    </main>
  </section>
</div>
