/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*reset*/

body, section, div, h1, h2, h3, a, p, ul, article, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  text-align: inherit;
  text-decoration: none;
}


ul {
  list-style: none;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

/*header*/

body {
  font-family: "Helvetica", sans-serif;
  font-size: 16px;
}

h3 {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 0px;
}

.header {
  background: #43FAE5
}

.header-nav {
  width: 100%;
  margin: auto;
}

.header-logo {
  padding: 10px 50px;
  float: left;
  font-weight: 900;
}

.header-navlist {
  padding: 0px 50px;
  float: right;
}

.header-navlist li {
  float: left;
}

.header-navlist a {
  display: block;
  padding: 10px 20px;
}
