
section.landing {
  position: relative;
  display: block;
  height: 700px;
}

section.sublanding {
  position: absolute;
  top: -50px;
  height: 100%;
  width: 100%;
  background-image: image-url("waterfall.gif");
  background-size: cover;
  z-index: -1;
  // background: #5C5C5C;
  // opacity: 0.3;

}

section.subsublanding {
  position: absolute;
  width: 100%;
  background: black;
  opacity: 0.8;
  top: 550px;
  height: 100px;
}

.subsublanding input[type="text"] {
  position: absolute;
  align: center;
  margin: auto;
  left: calc(50% - 300px);
  top: 28px;
  height: 44px;
  width: 600px;
  text-align: center;
  font-size: 20px;
}

.subsublanding input[type="submit"] {
  display: none;
}
