// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.index-map {
  position: relative;
  float: left;
  width: 45%;
  height: auto;

}

.map {
  position: absolute;
  width: 100%;
  height: 950px;
  top: 0;
}

.index-listings {
  float: left;
  width: 55%;
}

.content {

}

.content {
  position: relative;
}

section.showmap{
  position: relative;
  float: right;
  width: 300px;
  height: auto;
  margin: 0 100px;
}

.map-show {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
}
