// Place all the styles related to the locations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#content {
  position: relative;
  height: 100%;
}

.main {
  height: 100%;
  position: relative;
}

.index-map {
  // display: block;
  position: absolute;
  float: left;
  width: 45%;
  height: calc(100% - 36px);
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
}

.index-listings{
  position: relative;
  float: right;
  width: 55%;
  height: calc(100% - 36px);
  // height: 400px;
  overflow-y: scroll;
}

.index-listing-form {
  padding: 20px;
  border-bottom: 1px solid #E0E0E0;
  border-top: 1px solid #E0E0E0;
}

.index-listing-form input[type="text"] {
  height: 44px;
  width: 100%;
  font-size: 21px;
  padding: 0 3px 0 3px;
}

.index-listing-form input[type="submit"] {
  display: none;
}

.index-listing-locations {
  background: #E0E0E0;
}

.index-listing-locations > h4 {
  display: block;
  font-size: 24px;
  text-align: center;
  padding: 8px 0 0 0;
}

#locations-list {
  color: #2c3e50;
  width: 950px;
}

#locations-list > li {
  position: relative;
  padding: 8px 17px 0px 10px;
  width: 45%;
  float: left;
}

#locations-list > li > h5 {
  position: absolute;
  top: 60%;
  font-size: 20px;
  padding: 9px 15px;
  color: #ecf0f1;
  background:#7f8c8d;

  opacity: 66%;
  left: 10px;
  border-radius: 0 3px 3px 0;
}

#locations-list {
  margin:  0px 20px 20px 20px;
  padding: 14px 0 0 0;
}

#locations-list > li > div {
  background: #E0E0E0;
}

#locations-list > li > div > h4{
  padding: 10px;
}

a.listing {
  display: block;
  position: relative;
  height: 293px;
  overflow: hidden;
}

a.listing > img {
  display:block;
}

section.showmap{
  position: relative;
  float: right;
  width: 300px;
  height: auto;
  margin: 0 100px;
}

.map-show {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
}

//show page

.loc-show {
  overflow:scroll;
  height: 100%;
}

.location-show-header {
  display:block;
  height: 580px;
  overflow: hidden;
}

.location-show-header > img {
  top: -20%;
  width: 100%;
}


.location-show-leading {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 10px 0 0 300px;
}

.location-show-info {
  padding: 20px 0;
  border-bottom: 1px solid #ccc;
}

h4.detail-tag {
  font-weight: bold;
  height: 100%;
  float: left;
  vertical-align: middle;
  padding-right: 60px;
}

section.details {
  float:left
}

.location-request {
  float: left;
  width: 300px;
  padding: 30px;
}

.location-request label{
  display: block;
  padding: 4px 0 4px 0;
}

.location-request input{
  // padding: 4px;
}

div.info {
  float: left;
  width: 600px;
  margin: 0 20px 0 300px;
  padding: 20px 0;
}

section.description{
  padding: 0px 0px 20px 0px;
  border-bottom: 1px solid #ccc;
}

img.leading-pic {
  float: left;
  width: 100px;
  border-radius: 50%;
  padding: 4px 0px;
}

div.leading-text {
  float: left;
  padding: 15px;
}

ul.reviews{
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}
