<h2> Available Locations </h2>
<%= render "layouts/errors" %>

<ul>
  <% @locations.each do |location| %>
    <li><a href="<%=location_url(location)%>"><%=location.name%></a></li>
  <% end %>
</ul>

<a href="<%= new_location_url%>"> Add a new destination </a>
