<!DOCTYPE html>
<html>
<head>
  <title>SleepingBnT</title>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js'></script>
  <script src='http://fgnass.github.io/spin.js/spin.min.js'></script>
  <!-- // <script src='http://fgnass.github.io/spin.js/jquery.spin.js'></script> -->
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>






</head>
<div id="loading"></div>
<div id="loading2"><h3 class="loadmsg">Creating sample data</h3></div>

<body>

<script charset="utf-8">

$(function(){
  var opts = {
    lines: 13, // The number of lines to draw
    length: 20, // The length of each line
    width: 10, // The line thickness
    radius: 30, // The radius of the inner circle
    corners: 1, // Corner roundness (0..1)
    rotate: 0, // The rotation offset
    direction: 1, // 1: clockwise, -1: counterclockwise
    color: '#000', // #rgb or #rrggbb or array of colors
    speed: 1, // Rounds per second
    trail: 60, // Afterglow percentage
    shadow: false, // Whether to render a shadow
    hwaccel: false, // Whether to use hardware acceleration
    className: 'spinner', // The CSS class to assign to the spinner
    zIndex: 2e9, // The z-index (defaults to 2000000000)
    top: '50%', // Top position relative to parent
    left: '50%' // Left position relative to parent
  };

  var spinner = new Spinner().spin();
  var $target = $('body').find("#loading");
  var $target2 = $('body').find("#loading2");
  $target.hide();
  $target2.hide();
  $( document ).ajaxStart(function(){
    $target.append(spinner.el);
    $( $target ).fadeIn();
  });
    $( document ).ajaxComplete(function(){ $( $target ).fadeOut(); })
  })
</script>




<%= yield %>

</body>
</html>
